@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

.dark-theme {
  --font-family: "IBM Plex Sans", sans-serif;
  --background-root: #0e1525;
  --background-default: #1c2333;
  --background-higher: #2b3245;
  --background-highest: #3c445c;
  --background-overlay: #0e1525a0;
  --foreground-default: #f5f9fc;
  --foreground-middle: #dbe0e4;
  /* middle colour */
  --foreground-dimmer: #c2c8cc;
  --foreground-dimmest: #9da2a6;
  --outline-dimmest: #2b3245;
  --outline-dimmer: #3c445c;
  --outline-default: #4e5569;
  --outline-stronger: #5f677a;
  --outline-strongest: #70788c;
  --accent-primary-dimmest: #004182;
  --accent-primary-dimmer: #0053a6;
  --accent-primary-default: #0079f2;
  --accent-primary-stronger: #57abff;
  --accent-primary-strongest: #b2d9ff;
  --accent-positive-dimmest: #044a10;
  --accent-positive-dimmer: #046113;
  --accent-positive-default: #009118;
  --accent-positive-stronger: #6cd97e;
  --accent-positive-strongest: #bfffca;
  --accent-negative-dimmest: #660000;
  --accent-negative-dimmer: #a60808;
  --accent-negative-default: #e52222;
  --accent-negative-stronger: #ff6666;
  --accent-negative-strongest: #ffcfcf;
  --accent-red-dimmest: #660000;
  --accent-red-dimmer: #a60808;
  --accent-red-default: #e52222;
  --accent-red-stronger: #ff6666;
  --accent-red-strongest: #ffcfcf;
  --accent-orange-dimmest: #542a00;
  --accent-orange-dimmer: #703800;
  --accent-orange-default: #ad5700;
  --accent-orange-stronger: #d4781c;
  --accent-orange-strongest: #ffbd7a;
  --accent-yellow-dimmest: #4d4000;
  --accent-yellow-dimmer: #635300;
  --accent-yellow-default: #967d00;
  --accent-yellow-stronger: #bfa730;
  --accent-yellow-strongest: #f2e088;
  --accent-lime-dimmest: #314a00;
  --accent-lime-dimmer: #3d5c00;
  --accent-lime-default: #5a8700;
  --accent-lime-stronger: #87b825;
  --accent-lime-strongest: #c4e581;
  --accent-green-dimmest: #044a10;
  --accent-green-dimmer: #046113;
  --accent-green-default: #009118;
  --accent-green-stronger: #6cd97e;
  --accent-green-strongest: #7aeb8d;
  --accent-teal-dimmest: #004452;
  --accent-teal-dimmer: #006073;
  --accent-teal-default: #0093b0;
  --accent-teal-stronger: #27b9d6;
  --accent-teal-strongest: #69d9f0;
  --accent-blue-dimmest: #004182;
  --accent-blue-dimmer: #0053a6;
  --accent-blue-default: #0079f2;
  --accent-blue-stronger: #57abff;
  --accent-blue-strongest: #b2d9ff;
  --accent-blurple-dimmest: #39298a;
  --accent-blurple-dimmer: #5239cc;
  --accent-blurple-default: #795eff;
  --accent-blurple-stronger: #a694ff;
  --accent-blurple-strongest: #cec4ff;
  --accent-purple-dimmest: #582987;
  --accent-purple-dimmer: #7633b8;
  --accent-purple-default: #a64dff;
  --accent-purple-stronger: #c78fff;
  --accent-purple-strongest: #e2c4ff;
  --accent-magenta-dimmest: #6b1a6b;
  --accent-magenta-dimmer: #8a218a;
  --accent-magenta-default: #c73ac7;
  --accent-magenta-stronger: #f562f5;
  --accent-magenta-strongest: #ffbfff;
  --accent-pink-dimmest: #6e1b52;
  --accent-pink-dimmer: #8f226b;
  --accent-pink-default: #d4359f;
  --accent-pink-stronger: #ff70cf;
  --accent-pink-strongest: #ffbae8;
  --accent-grey-dimmest: #404040;
  --accent-grey-dimmer: #545454;
  --accent-grey-default: #808080;
  --accent-grey-stronger: #a6a6a6;
  --accent-grey-strongest: #d4d4d4;
  --accent-brown-dimmest: #594031;
  --accent-brown-dimmer: #75503b;
  --accent-brown-default: #a3765c;
  --accent-brown-stronger: #d49877;
  --accent-brown-strongest: #ffc8a8;
  --black: #0e1525;
  --white: #fcfcfc;
}

.light-theme {
  --font-family: "IBM Plex Sans", sans-serif;
  --background-root: #ebeced;
  --background-default: #fcfcfc;
  --background-higher: #f0f1f2;
  --background-highest: #e4e5e6;
  --background-overlay: #f0f1f2a0;
  --foreground-default: #07080a;
  --foreground-middle: #222428;
  /* middle colour */
  --foreground-dimmer: #3d4047;
  --foreground-dimmest: #5c5f66;
  --outline-dimmest: #d2d4d6;
  --outline-dimmer: #c0c3c4;
  --outline-default: #afb1b3;
  --outline-stronger: #98999c;
  --outline-strongest: #74767a;
  --accent-primary-dimmest: #b2d9ff;
  --accent-primary-dimmer: #6bb5ff;
  --accent-primary-default: #0f87ff;
  --accent-primary-stronger: #005cb8;
  --accent-primary-strongest: #004182;
  --accent-positive-dimmest: #7aeb8d;
  --accent-positive-dimmer: #3cc954;
  --accent-positive-default: #00a11b;
  --accent-positive-stronger: #036e15;
  --accent-positive-strongest: #004d0d;
  --accent-negative-dimmest: #ffc7c7;
  --accent-negative-dimmer: #ff9494;
  --accent-negative-default: #fa4b4b;
  --accent-negative-stronger: #c20a0a;
  --accent-negative-strongest: #8a0000;
  --accent-red-dimmest: #ffc7c7;
  --accent-red-dimmer: #ff9494;
  --accent-red-default: #fa4b4b;
  --accent-red-stronger: #c20a0a;
  --accent-red-strongest: #8a0000;
  --accent-orange-dimmest: #ffcc99;
  --accent-orange-dimmer: #ff9933;
  --accent-orange-default: #d96d00;
  --accent-orange-stronger: #964b00;
  --accent-orange-strongest: #693400;
  --accent-yellow-dimmest: #ebd66e;
  --accent-yellow-dimmer: #cfb015;
  --accent-yellow-default: #a68a00;
  --accent-yellow-stronger: #736000;
  --accent-yellow-strongest: #4f4200;
  --accent-lime-dimmest: #c0e378;
  --accent-lime-dimmer: #93c926;
  --accent-lime-default: #639400;
  --accent-lime-stronger: #466900;
  --accent-lime-strongest: #3a5700;
  --accent-green-dimmest: #7aeb8d;
  --accent-green-dimmer: #3cc954;
  --accent-green-default: #00a11b;
  --accent-green-stronger: #036e15;
  --accent-green-strongest: #004d0d;
  --accent-teal-dimmest: #6fe5fc;
  --accent-teal-dimmer: #22c1e0;
  --accent-teal-default: #0093b0;
  --accent-teal-stronger: #00687d;
  --accent-teal-strongest: #004857;
  --accent-blue-dimmest: #b2d9ff;
  --accent-blue-dimmer: #6bb5ff;
  --accent-blue-default: #0f87ff;
  --accent-blue-stronger: #005cb8;
  --accent-blue-strongest: #004182;
  --accent-blurple-dimmest: #d7cfff;
  --accent-blurple-dimmer: #b2a3ff;
  --accent-blurple-default: #8e78ff;
  --accent-blurple-stronger: #5b40e3;
  --accent-blurple-strongest: #412f9c;
  --accent-purple-dimmest: #e6ccff;
  --accent-purple-dimmer: #d0a1ff;
  --accent-purple-default: #b266ff;
  --accent-purple-stronger: #7f38c7;
  --accent-purple-strongest: #5b278f;
  --accent-magenta-dimmest: #ffbfff;
  --accent-magenta-dimmer: #ff82ff;
  --accent-magenta-default: #eb3beb;
  --accent-magenta-stronger: #a321a3;
  --accent-magenta-strongest: #731c73;
  --accent-pink-dimmest: #ffc7ec;
  --accent-pink-dimmer: #ff87d7;
  --accent-pink-default: #f545ba;
  --accent-pink-stronger: #ab2980;
  --accent-pink-strongest: #781e5a;
  --accent-grey-dimmest: #d5d5d5;
  --accent-grey-dimmer: #b0b0b0;
  --accent-grey-default: #898989;
  --accent-grey-stronger: #616161;
  --accent-grey-strongest: #454545;
  --accent-brown-dimmest: #ffc9ab;
  --accent-brown-dimmer: #dea483;
  --accent-brown-default: #b07f63;
  --accent-brown-stronger: #805740;
  --accent-brown-strongest: #573e30;
  --black: #0e1525;
  --white: #fcfcfc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(li, svg, path, polyline) {
  transition: 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

line,
circle {
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-root);
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--background-root);
  border-bottom: 1px solid var(--outline-dimmest);
}

.nav-alert {
  z-index: 0;
  display: inline-block;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 8px 15px;
  font-weight: 600;
  background-color: var(--accent-primary-dimmer);
  color: var(--foreground-default);
}

.nav-alert .nav-alert-delete {
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.nav-alert .nav-alert-delete::after {
  content: "✕";
}

.navbar li {
  list-style-type: none;
  background-color: var(--outline-dimmest);
  border-radius: 5px;
}

.navbar .nav-logo {
  font-size: 18px;
}

.navbar .nav-logo svg.align-middle,
.navbar .nav-logo img.align-middle {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 6px;
}

.navbar .nav-logo:hover {
  color: var(--foreground-default);
}

.navbar a,
.nav-links a {
  color: var(--foreground-default);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.navbar a:hover,
.nav-links a:hover {
  color: var(--accent-primary-stronger);
}

.navbar a.btn {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
}

.navbar a.btn:hover {
  color: var(--foreground-default);
}

.menu {
  display: flex;
  font-size: 16px;
  gap: 1.5em;
}

.menu li {
  padding: 5px 14px;
}

.nav-dropdown {
  position: relative;
  background-color: var(--background-root);
  border-radius: 8px;
  transition: 0.3s;
}

.nav-dropdown a:hover {
  color: var(--foreground-default);
}

.nav-dropdown .dropdown-link::after {
  content: "↓";
  margin-left: 5px;
}

.nav-dropdown:hover {
  background-color: var(--background-default);
  color: var(--foreground-default);
  border-radius: 8px;
}

.dropdown {
  z-index: 9999;
  background-color: var(--background-root);
  border: 1px solid var(--outline-dimmest);
  padding: 1em 0;
  position: absolute;
  display: none;
  top: 35px;
  border-radius: 8px;
}

.dropdown li+li {
  margin-top: 8px;
}

.dropdown li {
  text-align: center;
  width: 8em;
  padding: 7px;
  transition: 0.3s;
}

.dropdown li:hover {
  background-color: var(--accent-primary-dimmer);
}

.nav-dropdown:hover .dropdown {
  display: block;
}

.navbar input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  font-weight: 800;
  padding: 2px 6px;
  border: 1.5px solid var(--background-root);
  border-radius: 8px;
  user-select: none;
  transition: 0.3s;
}

.hamburger:hover {
  background-color: var(--background-default);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  /* was 64px */
  margin: 64px auto;
  max-width: 950px;
  /* was 1000px but no margin at 1000px */
  /* my own code */
  transition: 0.3s;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 100px auto;
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .container {
    width: calc(100vw - 50px);
    /* Adjust the amount of pixels as needed */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground-default);
  transition: 0.3s;
  /* my own code */
  /* max-width: 80%; */
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 22px;
}

.text-glow {
  text-shadow: 0 0 50px var(--accent-primary-default);
}

.item-glow {
  box-shadow: 0 0 50px var(--accent-primary-dimmest);
}

.align-middle {
  vertical-align: middle;
}

p,
b,
i,
s,
u {
  color: var(--foreground-middle);
  /* was foreground-dimmer */
  font-size: 19px;
  line-height: 27px;
  /* max-width: 80%; */
}

b,
i,
s,
u {
  color: var(--foreground-default);
}

hr {
  border: 1px solid var(--outline-dimmest);
}

img {
  border-radius: 11px;
}

a {
  color: var(--accent-primary-stronger);
  font-size: 19px;
  text-decoration: none;
  width: fit-content;
}

a.link-accent {
  font-weight: 600;
  transition: 0.3s;
}

a.link-accent:hover {
  color: var(--accent-primary-strongest);
  text-shadow: 0 0 15px var(--accent-primary-default);
}

.list-container {
  color: var(--foreground-middle);
  /* was foreground dimmer, but og was default */
  font-size: 19px;
  list-style-position: outside;
  margin-left: 20px;
  line-height: 30px;
}

.btn {
  font-family: var(--font-family-default);
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  width: fit-content;
  padding: 9px 16px;
  border-radius: 11px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.btn-sm {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 0.7px solid transparent;
}

.btn-lg {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 14px;
  border: 1.9px solid transparent;
}

.btn-primary {
  background-color: var(--accent-primary-dimmer);
  color: var(--foreground-default);
  border-color: var(--accent-primary-dimmer);
}

.btn-primary:hover {
  background-color: var(--accent-primary-default);
  border-color: var(--accent-primary-default);
}

.btn-primary:active {
  border-color: var(--accent-primary-strongest);
}

.btn-secondary {
  background-color: var(--background-default);
  color: var(--foreground-default);
  border-color: var(--background-default);
}

.btn-secondary:hover {
  background-color: var(--background-higher);
  border-color: var(--background-higher);
}

.btn-outline-secondary {
  background-color: var(--background-root);
  color: var(--foreground-default);
  border-color: var(--outline-dimmer);
}

.btn-outline-secondary:hover {
  background-color: var(--background-higher);
}

.btn-outline-secondary:hover {
  background-color: var(--background-higher);
}

.btn-secondary:active,
.btn-outline-secondary:active {
  border-color: var(--accent-primary-default);
}

.btn-red {
  background-color: var(--accent-red-dimmer);
  color: var(--foreground-default);
  border-color: var(--accent-red-dimmer);
}

.btn-red:hover {
  background-color: var(--accent-red-default);
  border-color: var(--accent-red-default);
}

.btn-red:active {
  border-color: var(--accent-red-strongest);
}

.btn-orange {
  background-color: var(--accent-orange-default);
  color: var(--foreground-default);
  border-color: var(--accent-orange-default);
}

.btn-orange:hover {
  background-color: var(--accent-orange-stronger);
  border-color: var(--accent-orange-stronger);
}

.btn-orange:active {
  border-color: var(--accent-orange-strongest);
}

.btn-yellow {
  background-color: var(--accent-yellow-default);
  color: var(--foreground-default);
  border-color: var(--accent-yellow-default);
}

.btn-yellow:hover {
  background-color: var(--accent-yellow-stronger);
  border-color: var(--accent-yellow-stronger);
}

.btn-yellow:active {
  border-color: var(--accent-yellow-strongest);
}

.btn-lime {
  background-color: var(--accent-lime-default);
  color: var(--foreground-default);
  border-color: var(--accent-lime-default);
}

.btn-lime:hover {
  background-color: var(--accent-lime-stronger);
  border-color: var(--accent-lime-stronger);
}

.btn-lime:active {
  border-color: var(--accent-lime-strongest);
}

.btn-green {
  background-color: var(--accent-green-dimmer);
  color: var(--foreground-default);
  border-color: var(--accent-green-dimmer);
}

.btn-green:hover {
  background-color: var(--accent-green-default);
  border-color: var(--accent-green-default);
}

.btn-green:active {
  border-color: var(--accent-green-strongest);
}

.btn-teal {
  background-color: var(--accent-teal-default);
  color: var(--foreground-default);
  border-color: var(--accent-teal-default);
}

.btn-teal:hover {
  background-color: var(--accent-teal-stronger);
  border-color: var(--accent-teal-stronger);
}

.btn-teal:active {
  border-color: var(--accent-teal-strongest);
}

.btn-blue {
  background-color: var(--accent-blue-dimmer);
  color: var(--foreground-default);
  border-color: var(--accent-blue-dimmer);
}

.btn-blue:hover {
  background-color: var(--accent-blue-default);
  border-color: var(--accent-blue-default);
}

.btn-blue:active {
  border-color: var(--accent-blue-strongest);
}

.btn-purple {
  background-color: var(--accent-purple-dimmer);
  color: var(--foreground-default);
  border-color: var(--accent-purple-dimmer);
}

.btn-purple:hover {
  background-color: var(--accent-purple-default);
  border-color: var(--accent-purple-default);
}

.btn-purple:active {
  border-color: var(--accent-purple-strongest);
}

.btn-magenta {
  background-color: var(--accent-magenta-dimmer);
  color: var(--foreground-default);
  border-color: var(--accent-magenta-dimmer);
}

.btn-magenta:hover {
  background-color: var(--accent-magenta-default);
  border-color: var(--accent-magenta-default);
}

.btn-magenta:active {
  border-color: var(--accent-magenta-strongest);
}

.btn-pink {
  background-color: var(--accent-pink-default);
  color: var(--foreground-default);
  border-color: var(--accent-pink-default);
}

.btn-pink:hover {
  background-color: var(--accent-pink-stronger);
  border-color: var(--accent-pink-stronger);
}

.btn-pink:active {
  border-color: var(--accent-pink-strongest);
}

.btn-grey {
  background-color: var(--accent-grey-dimmer);
  color: var(--foreground-default);
  border-color: var(--accent-grey-dimmer);
}

.btn-grey:hover {
  background-color: var(--accent-grey-default);
  border-color: var(--accent-grey-default);
}

.btn-grey:active {
  border-color: var(--accent-grey-strongest);
}

.btn-brown {
  background-color: var(--accent-brown-dimmer);
  color: var(--foreground-default);
  border-color: var(--accent-brown-dimmer);
}

.btn-brown:hover {
  background-color: var(--accent-brown-default);
  border-color: var(--accent-brown-default);
}

.btn-brown:active {
  border-color: var(--accent-brown-strongest);
}

.btn:disabled {
  opacity: 0.4;
  cursor: auto;
}

.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus {
  background-color: var(--accent-primary-dimmer);
  border-color: var(--accent-primary-dimmer);
}

.btn-secondary:disabled,
.btn-secondary:disabled:hover,
.btn-secondary:disabled:focus {
  background-color: var(--background-default);
  border-color: var(--background-default);
}

.btn-outline-secondary:disabled,
.btn-outline-secondary:disabled:hover,
.btn-outline-secondary:disabled:focus {
  background-color: var(--background-root);
  border-color: var(--outline-dimmer);
}

.btn-red:disabled,
.btn-red:disabled:hover,
.btn-red:disabled:focus {
  background-color: var(--accent-red-dimmer);
  border-color: var(--accent-red-dimmer);
}

.btn-orange:disabled,
.btn-orange:disabled:hover,
.btn-orange:disabled:focus {
  background-color: var(--accent-orange-default);
  border-color: var(--accent-orange-default);
}

.btn-yellow:disabled,
.btn-yellow:disabled:hover,
.btn-yellow:disabled:focus {
  background-color: var(--accent-yellow-default);
  border-color: var(--accent-yellow-default);
}

.btn-lime:disabled,
.btn-lime:disabled:hover,
.btn-lime:disabled:focus {
  background-color: var(--accent-lime-default);
  border-color: var(--accent-lime-default);
}

.btn-green:disabled,
.btn-green:disabled:hover,
.btn-green:disabled:focus {
  background-color: var(--accent-green-dimmer);
  border-color: var(--accent-green-dimmer);
}

.btn-teal:disabled,
.btn-teal:disabled:hover,
.btn-teal:disabled:focus {
  background-color: var(--accent-teal-default);
  border-color: var(--accent-teal-default);
}

.btn-blue:disabled,
.btn-blue:disabled:hover,
.btn-blue:disabled:focus {
  background-color: var(--accent-blue-dimmer);
  border-color: var(--accent-blue-dimmer);
}

.btn-purple:disabled,
.btn-purple:disabled:hover,
.btn-purple:disabled:focus {
  background-color: var(--accent-purple-dimmer);
  border-color: var(--accent-purple-dimmer);
}

.btn-magenta:disabled,
.btn-magenta:disabled:hover,
.btn-magenta:disabled:focus {
  background-color: var(--accent-magenta-dimmer);
  border-color: var(--accent-magenta-dimmer);
}

.btn-pink:disabled,
.btn-link:disabled:hover,
.btn-link:disabled:focus {
  background-color: var(--accent-pink-default);
  border-color: var(--accent-pink-default);
}

.btn-grey:disabled,
.btn-grey:disabled:hover,
.btn-grey:disabled:focus {
  background-color: var(--accent-grey-dimmer);
  border-color: var(--accent-grey-dimmer);
}

.btn-brown:disabled,
.btn-brown:disabled:hover,
.btn-brown:disabled:focus {
  background-color: var(--accent-brown-dimmer);
  border-color: var(--accent-brown-dimmer);
}

input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="password"],
inpuy[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="search"],
input[type="tel"],
textarea,
select {
  font-family: var(--font-family-default);
  background: var(--background-default);
  color: var(--foreground-default);
  padding: 10px;
  font-size: 19px;
  border-radius: 11px;
  border: 1.5px var(--outline-dimmest) solid;
  outline: none;
  transition: 0.3s;
}

textarea {
  height: 150px;
}

input[type="text"]::placeholder,
input[type="url"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
inpuy[type="time"]::placeholder,
input[type="date"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="month"]::placeholder,
input[type="week"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--foreground-dimmest);
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
inpuy[type="time"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  border-color: var(--accent-primary-dimmer);
}

input[type="text"]:disabled,
input[type="url"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
inpuy[type="time"]:disabled,
input[type="date"]:disabled,
input[type="datetime-local"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
select:disabled {
  opacity: 0.5;
}

input[type="file"] {
  display: none;
}

.file-container {
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  margin-bottom: 20px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: var(--background-default);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 7.5px;
  bottom: 5.5px;
  background-color: var(--foreground-default);
  transition: 0.3s;
}

input[type="checkbox"]:checked+.slider {
  background-color: var(--accent-primary-dimmer);
}

input[type="checkbox"]:checked+.slider:before {
  transform: translateX(42px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: -40px;
  font-size: 18px;
  color: var(--foreground-middle);
  /* was forground-dimmer */
}

.checkbox-container:last-child,
.radio-container:last-child {
  margin-bottom: 0;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 1.5px var(--outline-dimmest) solid;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.checkbox-container input[type="checkbox"]:checked~.checkbox-mark {
  background-color: var(--accent-primary-dimmer);
  border: 1.5px var(--accent-primary-dimmer) solid;
}

.checkbox-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input[type="checkbox"]:checked~.checkbox-mark:after {
  display: block;
}

.checkbox-container .checkbox-mark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: 1.5px solid var(--foreground-default);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container input[type="checkbox"]:disabled~.checkbox-mark,
.radio-container input[type="radio"]:disabled~.radio-mark {
  opacity: 0.4;
  cursor: auto;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: -40px;
  font-size: 18px;
  color: var(--foreground-middle);
  /* was foreground-dimmer */
}

.radio-container input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 1.5px var(--outline-dimmest) solid;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked~.radio-mark {
  background-color: var(--accent-primary-dimmer);
  border: 1.5px var(--accent-primary-dimmer) solid;
}

.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input[type="radio"]:checked~.radio-mark:after {
  display: block;
}

.radio-container .radio-mark:after {
  background-color: var(--foreground-default);
  top: 5.73px;
  left: 5.73px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1.5px solid var(--outline-dimmest);
}

table td,
table th {
  color: var(--foreground-middle);
  /* was forground-dimmer */
  font-size: 17px;
  padding: 12px;
  border: 1.5px solid var(--outline-dimmest);
}

table th {
  background-color: var(--accent-primary-dimmer);
  color: var(--foreground-default);
  font-size: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: var(--background-default);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  outline: 1.5px var(--outline-dimmest) solid;
  border-radius: 8px;
  flex: 1 0 47%;
  height: fit-content;
  transition: 0.3s;
}

.card:hover {
  outline-color: var(--background-root);
  /* was outline dimmer */
  background-color: var(--outline-dimmest);
  /* my own code */
}

.card:active {
  outline-color: var(--accent-primary-dimmer);
}

.card img.card-cover,
.card svg.card-cover {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
  padding: 15px;
}

.card>a,
.card>strong,
.card>b,
.card>i,
.card u,
.card s {
  padding: 15px;
}

.badge {
  width: fit-content;
  font-size: 0.7em;
  padding: 2px 7px;
  margin-left: 8px;
  border-radius: 20px;
  font-weight: 600;
}

code {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 16px;
  background-color: var(--background-default);
  color: var(--foreground-middle);
  /* was foreground-dimmer */
  padding: 4px;
  border-radius: 8px;
}

.alert {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding: 11px 13px;
  line-height: 30px;
  border-radius: 11px;
  border: 1px solid transparent;
}

.alert-primary {
  background-color: var(--accent-primary-dimmest);
  color: var(--accent-primary-strongest);
  border: 1px solid var(--accent-primary-stronger);
}

.alert-positive {
  background-color: var(--accent-positive-dimmest);
  color: var(--accent-positive-strongest);
  border: 1px solid var(--accent-positive-stronger);
}

.alert-negative {
  background-color: var(--accent-negative-dimmest);
  color: var(--accent-negative-strongest);
  border: 1px solid var(--accent-negative-stronger);
}

.alert .alert-icon {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 8px;
}

.footer {
  background-color: var(--background-default);
  color: var(--foreground-default);
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  padding: 15px;
}

iframe {
  border-radius: 11px;
  border: 1px solid var(--outline-dimmest);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #2b3245 solid; /* was background root */
  border-radius: 50%;
  border-top: 4px var(--accent-primary-default) solid;
  border-right: 4px var(--accent-primary-default) solid;
  border-bottom: 4px var(--accent-primary-default) solid;
  animation: spin 1.5s linear infinite;
}

.badge-teal {
  background-color: var(--accent-teal-default);
  color: var(--accent-teal-strongest);
}

.badge-red {
  background-color: var(--accent-red-dimmer);
  color: var(--accent-red-strongest);
}

.badge-orange {
  background-color: var(--accent-orange-default);
  color: var(--accent-orange-strongest);
}

.badge-blue {
  background-color: var(--accent-blue-dimmer);
  color: var(--accent-blue-strongest);
}

.badge-green {
  background-color: var(--accent-green-default);
  color: var(--accent-green-strongest);
}

.badge-purple {
  background-color: var(--accent-purple-dimmer);
  color: var(--accent-purple-strongest);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 80%;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: var(--background-root);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
    color: var(--foreground-default);
  }

  .dropdown {
    top: 30px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 21px;
  }

  h6,
  p {
    font-size: 18px;
  }

  /* img {
		max-width: fit-content !important;
		width: 100%;
	} */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-default);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-higher);
}

::selection {
  background-color: var(--accent-primary-default);
  color: var(--foreground-default);
}

/* Base styles for the iframe */
iframe {
  width: 100%;
  /* Make the iframe occupy 100% of its container's width */
  max-width: 950px;
  /* Set a maximum width for the iframe */
  height: calc(100vw * 9 / 16);
  /* Calculate the height based on a 16:9 aspect ratio */
  max-height: 534px;
  /* Set a maximum height for the iframe */
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 1000px) {
  iframe {
    max-height: none;
    /* Remove the maximum height for smaller screens */
  }
}