            <footer>
                <div style="margin-top: 30px;">
                    <a href="/" style="text-decoration: none;">Logout</a>
                </div>
                <div style="color: #3c5d99; font-size: 14px;">
                    &copy; 2024 Post Social PWA. All rights reserved
                </div>
            </footer>
        </div>
    </section>
</body>
</html>

<!--
<nav class="navbar">
    <ul class="nav-links">
        <div class="menu">
            <li><a href="/posts/userid={{userid}}">posts</a></li>
            <li><a href="/posts/userid={{userid}}/authors">authors</a></li>
            <li><a href="/posts/userid={{userid}}/new">+</a></li>
        </div>
    </ul>
</nav>
<br>-->

<!-- Create logout button, copyright, another line-->