
                <nav class="navbar">
                    <ul class="nav-links">
                        <input type="checkbox" id="checkbox_toggle" />
                        <label for="checkbox_toggle" class="hamburger">☰</label>
                        <div class="menu">
                            <li><a href="/authors">authors</a></li>
                            <li><a href="/posts">posts</a></li>
                            <li><a href="/tags">tags</a></li>
                            <li><a href="/newPost">+</a></li>
                        </div>
                    </ul>
                </nav>